* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-dark: #121212;
}

body {
  background-color: rgb(223, 224, 225);
  max-width: 1600px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
